*{background-color: 
    blueviolet;}








#h1{
    text-align: right;
}



#mainpagehead{
    color:black;
    text-align: right;
    background-color: bisque;
    background: red;
}
#mainpagehead:hover{
    text-align: right;
    color:red;
    background-color: red;
    background:bisque;
    
}


.p1{
    padding : 100px 100px 100px 100px;
    border: 100px;
    background-color: aqua;
    text-align: left;
    cursor:help
}
.p1:hover{
    background-color: red;
}

.p2{
    padding: 100px 100px 100px 100px;
    border: 100px;
    background-color: chocolate;
    font-size: 80px;
    text-align: center;
    cursor: help;
}
.p2:hover{
    background-color: red;
    text-align: center;
}

.p3{
    padding: 100px 100px 100px 100px;
    border: 100px;
    background-color: magenta;
    text-align: right;
    cursor: help;
}
.p3:hover{
    
    background-color: red;
}





.linkedin{
    background:teal;
    color:white;
    display:inline-block;
    padding: 20px 80px 20px 50x;
    margin-top: 200px;
    border:  5px;
    text-align: center;
    cursor: help;
}

.linkedin:hover{
    
    background: yellow;
    color: red;
    display: inline-block;
    padding: 20px 80px 20px 50px;
    margin-top: 200px;
    border: 5px dotted blue;
    text-align: center;
    cursor:pointer
    }



   